---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

const projets = await getCollection("projetCollection");
const clients = await getCollection("clientCollection");
---

<Layout title="Projets" description="Tous mes projets" logo="">
  <main>
    <section class="pt-20 pb-6 flex justify-center">
      <img
        src="/site/projects.svg"
        alt="Tous mes projets"
        width={700}
        class="header-title"
      />
    </section>
    <h2 class="ligne mb-4 text-center" style="--delay-ligne: 0.5s">
      Mes clients
    </h2>
    <section class="mx-auto flex flex-wrap gap-y-4 gap-x-1 justify-evenly">
      {
        clients
          .sort((c1, c2) => (c1.data.order > c2.data.order ? 1 : -1))
          .map((client, index) => (
            <a
              class="transition-[outline] ease-in-out hover:outline hover:outline-4 hover:outline-primary p-2"
              href={client.data.url || "#"}
            >
              {client.data.image ? (
                <img
                  src={client.data.image}
                  title={client.data.name}
                  width={400}
                  alt="Logo du client"
                  class="animate-[client-animation] duration-500 delay-[var(--animation-delay)] h-[min(75px,7vw)] w-auto"
                  style={`--animation-delay: ${index * 0.1}s`}
                />
              ) : (
                <span>{client.data.name}</span>
              )}
            </a>
          ))
      }
    </section>
    <h2 class="ligne mb-4 text-center" style="--delay-ligne: 0.5s">
      Mes projets
    </h2>

    <section
      class="grid grid-cols-[repeat(auto-fit,minmax(600px,1fr))] content-center gap-4 mt-4 mb-20 mx-auto"
    >
      {
        projets
          .sort((p1, p2) =>
            new Date(p1.data.startDate) < new Date(p2.data.startDate) ? 1 : -1
          )
          .map((projet, index) => (
            <ProjectCard project={projet.data} index={index} />
          ))
      }
    </section>
  </main>
</Layout>
