---
import type { CollectionEntry } from "astro:content";
import { displayDate } from "../lib/utils";
import { getEntry } from "astro:content";
import { getEntries } from "astro:content";
import Technos from "./Technos.astro";

interface Props {
  project: CollectionEntry<"projetCollection">["data"];
  index: number;
}

const { project, index } = Astro.props;
const client = project.client
  ? await getEntry("clientCollection", project.client.id)
  : null;
const technos = project.technos ? await getEntries(project.technos) : [];
const categories = await getEntries(project.categories);
---

<a
  href={`/project/${project.slug}`}
  class="flex flex-col bg-bg-white01 rounded-md p-4 transition-[outline] ease-in-out duration-200 hover:outline-4 hover:outline-primary"
  style={`animation: project-appearance 0.8s
  var(--animation-power) ${index * 0.8}s;`}
>
  <div class="grid grid-cols-[80px_auto] items-center gap-8">
    <div
      class="h-[80px] aspect-square rounded-full bg-white grid place-items-center"
    >
      {
        client?.data.image ? (
          <img
            src={client.data.image}
            alt=""
            width={60}
            class="bg-cover bg-center"
          />
        ) : (
          <img
            src="/site/logo-picto.png"
            class="bg-cover bg-center"
            width={60}
            height={60}
            alt=""
          />
        )
      }
    </div>
    <h3 class="text-4xl text-secondary p-0 text-start">
      {project.name}
    </h3>
  </div>
  <p class="text-sm text-lightgrey">
    {displayDate(project.startDate, project.endDate, project.running)}
  </p>
  {
    project.heroImage && (
      <img
        class="aspect-[4/3] object-cover"
        src={project.heroImage}
        alt="Image principale du projet"
      />
    )
  }
  <p>{project.brief}</p>
  <Technos
    technos={technos}
    containerClass="justify-end"
    itemClass="m-0 p-1 bg-white h-8"
  />
  {
    Array.isArray(categories) && (
      <ul class="flex flex-wrap gap-4">
        {categories.map((cat) => (
          <li class="bg-secondary text-primary px-4 py-2 rounded-full">
            {cat.data.title}
          </li>
        ))}
      </ul>
    )
  }
</a>
